<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cross Browser Testing" parallel="tests" thread-count="3">
    <test verbose="2" preserve-order="true" name="Testing in Chrome" >
        <parameter name="browser" value="chrome"></parameter>
<classes>

    <class name="com.epam.uiTests.CrossBrowserTests"></class>
</classes>
        </test>
    <test verbose="2" preserve-order="true" name="Testing in Firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>

            <class name="com.epam.uiTests.CrossBrowserTests"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Testing in Edge">
        <parameter name="browser" value="edge"></parameter>
        <classes>

            <class name="com.epam.uiTests.CrossBrowserTests"></class>
        </classes>
    </test>
</suite>

